[submodule "external/qiskit"]
	path = external/qiskit
	url = https://github.com/Qiskit/qiskit.git
[submodule "external/textbook"]
	path = external/textbook
	url = https://github.com/Qiskit/qiskit-textbook
	branch = a-la-iqx
