<img id="Coursemap" 
     src="images/coursemaps/coursemap_all.png" 
     style="max-width: 600px; margin: 50px;">

<p>Course Focus (Click for Suggested Path):</p>
<br>

<button onclick="document.getElementById('Coursemap').src='images/coursemaps/coursemap_A.png'"
        style="
              border: none;
              padding: 7px 16px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              margin: 5px;
              margin-left: 65px;"
        >Quantum Algorithms
        </button>
<button onclick="document.getElementById('Coursemap').src='images/coursemaps/coursemap_B.png'"
        style="
              border: none;
              padding: 7px 16px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              margin: 5px;">Quantum Programming
</button>
<button onclick="document.getElementById('Coursemap').src='images/coursemaps/coursemap_C.png'"
        style="
              border: none;
              padding: 7px 16px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              margin: 5px;">Quantum Hardware
</button>
