<ul class="qiskit-navbar">
    <li class="left navbar__logo">
	    <a href="https://qiskit.org/">
	    <img src="/textbook/images/logo/logo_qiskit_pink.png" width="24px">
	    </a>
    </li>
    <li class="left">
	    <a href="https://qiskit.org/">
		Qiskit
	    </a>
    </li>
    <li id="js-sidebar-toggle" class="qiskit-navbar__icons"><img src="/textbook/assets/images/hamburger.svg"></li>
    <li class="qiskit-navbar__icons"><a href="/textbook/search.html"><img src="/textbook/assets/images/search-solid-pink.svg"></a></li>
    <li><a href="https://qiskit.org/documentation/">Documentation</a></li>
    <li class="entry__active"><a href="https://qiskit.org/education">Learn</a></li>
    <li><a href="https://qiskit.org/experiments">Community</a></li>
 </ul>

