<ul class="qiskit-navbar">
    <li class="left navbar__logo">
	    <a href="https://qiskit.org/">
	    <img src="/textbook/assets/images/logo_qiskit_purple_new.svg">
	    </a>
    </li>
    <li class="qiskit-navbar__icons"><a href="/textbook/search.html"><img src="/textbook/assets/images/search-solid-purple.svg"></a></li>
    <li><a href="https://qiskit.org/documentation/">Documentation</a></li>
    <li><a href="https://qiskit.org/events">Community</a></li>
    <li class="entry__active"><a href="https://qiskit.org/education">Learn</a></li>
 </ul>

