<script>
(function () {
  'use strict'
  window._analytics = {
    segment_key: 'ffdYLviQze3kzomaINXNk6NwpY9LlXcw',
    coremetrics: false,
    optimizely: false,
    googleAddServices: false,
    fullStory: false,
    autoPageEventSpa: false,
    autoFormEvents: false,
    autoPageView: false
  }

  window.digitalData = {
    page: {
      pageInfo: {
        productTitle: 'IBM Q Experience',
        analytics: {
          category: 'Qiskit.org'
        }
      }
    }
  }

  loadAsyncScript('https://cloud.ibm.com/analytics/build/bluemix-analytics.min.js')
  .then(() => {
    if (!window.bluemixAnalytics || !window.digitalData) { return }

    const category = window.digitalData.page.pageInfo.analytics.category
    const productTitle = window.digitalData.page.pageInfo.productTitle
    const routeName = 'qiskit-textbook'

    window.bluemixAnalytics.pageEvent(category, routeName, {
      navigationType: 'pushState',
      productTitle: productTitle,
      title: document.title
    })
  })
  .catch((err) => {
    console.warn('Error loading Bluemix Analytics script:', err)
  })

  window.trackCta = (action) => {
    if (!window.bluemixAnalytics || !window.digitalData) { return }

    const category = window.digitalData.page.pageInfo.analytics.category
    const productTitle = window.digitalData.page.pageInfo.productTitle

    window.bluemixAnalytics.trackEvent('CTA Clicked', {
      productTitle,
      category,
      CTA: action
    })
  }

}());
</script>