div.qiskit__navbar {
        height: $qiskit-navbar-height;
	background-color: $color-dark-gray;
	color: $color-links;
	border-bottom: 1px solid #491D8B;
	font-size: 14px;
	ul{
		padding: 0px;
		padding-right: 30px;
	}
	li {
        	display: block;
        	float: right;
		margin-right: 32px;
		padding-top: 18px;
		&.left {
        		float: left;
			font-size: 18px;
			margin-left: 0px;
			margin-right: 8px;
			padding-top: 14px;
			&.navbar__logo {
				padding-top: 12px;
			}
		}
		&.entry__active {
			font-weight: bold;
		}
		&.qiskit-navbar__icons {
			display: none;
			cursor: pointer;
		}

		a {
			color: #491D8B;
		}
	}
}

@media only screen and (max-width: 1250px) {
	div.qiskit__navbar li {
		&.qiskit-navbar__icons {
			display: block;
		}
	}
}
@media only screen and (max-width: 525px) {
	div.qiskit__navbar li {
		display: none;
		margin-right: 0px;
		margin-left: 24px;
		&.left{
			display: block;
		}
	}
}
