/**
 * Styling for within-page navigation.
 *
 * [1]: When the screen is large enough to hold the sidebar, place the sidebar
 *   offset a bit off the right side of the screen.
 *
 * [2]: When the screen is large enough that the page content itself starts
 *   having margins, use a semi-hack to position the sidebar just the right
 *   offset from the center of the screen to be in the correct spot. We're
 *   aiming to have the sidebar positioned just to the right of the page
 *   content which means we take the page width without the sidebar, divide it
 *   by 2, and add padding.
 */

/* [2] */
.sidebar__right > * {
    direction: ltr;
}

aside.sidebar__right {
    padding-bottom: 0.75em;
    // Positioning
    overflow-x: hidden;
    background-color: $book-background-color;
    overflow-y: auto;
    max-height: 90vh; // Required for scrolling to work properly
    scrollbar-width: thin;
    direction: rtl;

    // Font and look
    color: #7a8288;
    border-left: 1px solid $divider-color;

    // Icon
    img {
        width: 15px;
        padding-bottom: 2px;
    }

    // Show/hide navbar underneath
    nav {
        transition: opacity .25s ease-in-out, height .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out, height .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out, height .25s ease-in-out;
        overflow-y: hidden;
        opacity: 0;
        height: 0px;

        @include mq($from: desktop) {
            opacity: 100;
            height: auto;
        }

        @media only screen and (min-width: 1024px) {
            &.no_sidebar_content {
              opacity: 100;
              height: auto;
            }
        }
    }

    &:hover nav {
        opacity: 100;
        height: auto;
    }
}


h4.nav__title {
    color: #7a8288;
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 0.8em;
}

ul.toc__menu {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    font-size: 1rem;
}

ul.toc__menu a {
    display: block;
    padding: 0 .5rem;
    color: #4D5358;
    font-size: 0.8em;
    line-height: 1.5;
}

.toc__menu ul {
    margin-left: 0px;
}

.toc__menu li ul {
    li {
        list-style-type: none;
        padding-left: 18px;
    }

    a {
        font-weight: normal;
        padding: 0 .5rem;
    }
}

aside.sidebar__right div {
	display: block;
	margin: 0px;
	padding-bottom: 0.25em
}

aside.sidebar__right button.interact-button {
	color: white;
	background-color: $color-buttons;
	border: 1px solid $color-buttons;
	padding: 14px;
	padding-left: 16px;
	text-align: left;
	width: 90%;
	font-size: 0.9rem;
	margin-top: 1.5rem;
	margin-bottom: 0.8rem;
	margin-left: 8px;
	cursor: pointer;
}

aside.sidebar__right a.download__link {
	font-size: 0.8rem;
	color: $color-buttons;
	margin-left: 10px;
	img {
		margin-left: 6px;
		height: 1rem;
	}
}

aside.sidebar__right header {
	border-bottom: 1px solid #4D5358;
	margin-bottom: 0.5rem;
	text-align: left;
	width: 90%;
	margin-right: 10%;
	& input {
		width: 80%;
		margin-left: 2px;
		margin-top: 5px;
		font-family: "IBM Plex Sans","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
		font-size: 1rem;
		border: none;
		color: #4D5358;
	}

	& button {
		border: none;
		background-color: white;
		padding-bottom: 10px;
	}

	h2 {
		display: none;
		margin-top: 0px;
		font-size: 14px;
	}
}

@media only screen and (max-width: 1250px) {
	aside.sidebar__right {
		header form {
			display: none;
		}

		button {
			display: none;
		}

		a.download__link {
			display: none;
		}

		header h2 {
			display: block;
		}
	}
}

@media only screen and (max-width: 1250px) {
	aside.sidebar__right {
		border-bottom: 1px solid $divider-color;
		opacity: 90%;
		width: 200px;
		padding-bottom: 0;
		&:hover{
			opacity: 100%;
		}
		header {
			margin-bottom: 0;
			border-bottom: none;
		}
	}
}

// Active sidebar entries
nav.onthispage li.active a {
    color: $color-buttons;
    font-weight: bold;
}

li.active {
    border-left: 1px solid #0077d8;
    margin-left: -1px;
}
